body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    height: 100vh; /* Establece la altura del encabezado al 100% del viewport */
    position: relative; /* Añade posición relativa para que los elementos posicionados dentro del encabezado sean relativos a este */
    display: flex; /* Permite centrar verticalmente los elementos dentro del encabezado */
    justify-content: center; /* Centra horizontalmente los elementos dentro del encabezado */
    align-items: center; /* Centra verticalmente los elementos dentro del encabezado */
}

.fondo-encabezado {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("C:/Users/PC-01/Desktop/res.jfif"); /* Establece la imagen como fondo de pantalla */
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el encabezado */
    background-position: center; /* Centra la imagen */
    z-index: -1; /* Coloca la imagen de fondo detrás de los platos */
}

.texto-encima {
    color: white;
    position: absolute;
    top: 10px;
    left: 10px;
}

.centrado {
    color: white; /* Cambia el color del texto */
    font-size: 24px; /* Ajusta el tamaño del texto */
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.menu-item {
    width: 30%;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    position: relative; /* Añade posición relativa para que el contenido del menú esté posicionado correctamente */
}

.menu-item img {
    max-width: 100%;
    border-radius: 10px;
}